<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Dans l'exemple ci-dessous, la transformation « SetAttributes » change la valeur de
    « connectionString » afin d'utiliser « ReleaseSQLServer » uniquement quand
    l'indicateur « Match » recherche un attribut « name » dont la valeur est « MyDB ».
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Dans l'exemple ci-dessous, la transformation « Replace » remplace l'ensemble
      de la section <customErrors> de votre fichier web.config.
      Notez qu'il n'existe qu'une section customErrors sous le
      nœud <system.web>, il n'y a donc pas besoin d'utiliser l'attribut « xdt:Locator ».
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>

